/* Basic Blocks Custom App */
/* @import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre'); */
/* @import url('/font-awesome-4.6.3/css/font-awesome.min.css'); */

/*-----------------------------------------
:root selector for variables
-------------------------------------------*/
:root {
    --Header_background-color: whitesmoke; 
    --Header_hover-color:blue;
    --HeaderLogo-image: url( 'assets/images/formR-icon.jpg' );
    --HeaderLogo_margin: 0px 0 0 50px;
    --HeaderList-font-size: 1.1rem;
  
    --Section1_background-color: cornflowerblue;
    --Section1_background-image: url( 'assets/images/monaco-blue-soft-1.jpg' ); /* This image existed in Bruce's Repo */ 
    --Section1Paragraph-font-color: whitesmoke;  
  
    --Section2-font-color: darkblue;  
    --Section2_background-color: whitesmoke;
    --Section2Paragraph-font-color: darkblue;  
  
    --Footer_background-color:whitesmoke; 
    --Footer_hover-color: blue;
    --FooterListFontSize: .9rem;  
    
    /*--GlobalFontFamily: "Roboto Slab";*/
    --GlobalFontFamily: "Frank Ruhl Libre";
    
    --CalloutIconCheck: "\f14a  \A"; /*checkbox*/
    --CalloutIconCheck: "\f0da  \A"; /*Right Arrow*/
    --CalloutIconCheck: "\f0a4  \A"; /*Right Hand Pointer*/
    --CalloutIconCheck: "\f105  \A"; /*Right Arrow*/
    --CalloutIconCheck: "\f328  \A"; /*Clip Board*/
    --CalloutIconCheck: "\f0ca  \A"; /*Bullets {<li>}*/
    --CalloutIconCheck: "\f064  \A"; /*Forward Arrow*/
    --CalloutIconCheck: "\f0ae  \A"; /*ToDo List*/
    --CalloutIconCheck: "\f35a  \A"; /*Right Arrow in Circles*/
    --CalloutIconFontFamily: "Font Awesome 5 Free";    

} 
/*------------------------------------------*/
* {                   /* reset all style */
    box-sizing          :  border-box;
    padding             :  0;
    margin              :  0;
    font-family         :  var(--GlobalFontFamily);
    font-size           :  1rem;
    }

.container {            /* custom element style */
    padding             :  0;
    margin              :  0;
    width               :  100%;
    height              :  100vh;
    } 

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*-----------------------------------------
The .Header properites
------------------------------------------*/
.Header {
    background: var(--Header_background-color);
    border-bottom: 1px #000 solid;
    width: 100%;
    height: 10%;
    position: fixed;  /*was relative*/
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*------------------------------------------*/
.HeaderNavBars {
    display: none;
    height: 24px;
    width: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0px;
    box-sizing: border-box;
    margin-left: 20px;
    margin-top: 0px;
  }
/*------------------------------------------*/
.HeaderNavBars:focus {
      outline: none;
  }
/*------------------------------------------*/
.HeaderLogo {
    width: 224px;
    height: 64px;
    margin-bottom: 0px;
    background-image: var(--HeaderLogo-image);
    background-size: 224px 64px;
    background-repeat: no-repeat;
    margin: var(--HeaderLogo_margin);
    font-size: 25px;
    font-weight: 600;
  }
/*------------------------------------------*/
.HeaderSpacer {
      flex: 1;
  }
/* Header END^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/
  
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*-----------------------------------------
The .HeaderNavList (horizontal menu) properites
------------------------------------------*/
.HeaderNavList {
    list-style: none;
    margin-right: 30px;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: var(--HeaderList-font-size);
}
/*------------------------------------------*/
.HeaderNavListItem a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin: 8px 0;
    padding: 25px;
}
/*------------------------------------------*/
.HeaderNavListItem a:hover,
.HeaderNavListItem a:active {
    color: var(--Header_hover-color);
}
/*------------------------------------------*/
.HeaderNavListItemCTA a {
    color: white;
    background: blue ;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}
/*------------------------------------------*/
.HeaderNavListItemCTA {
    animation     : wiggle 400ms 2s 8 ease-out none;
    }
  
/*-----------------------------------------
The @keyframes wiggle properties
------------------------------------------*/
  @keyframes wiggle {
      0% { transform: rotateZ(  0deg ); }
     50% { transform: rotateZ(-10deg ); }
    100% { transform: rotateZ( 10deg ); }
  }
/* Header Nav END ^^^^^^^^^^^^^^^^^^^^^^^^^^*/
  
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

.Logo {
  padding: 0px 0px 10px 0px;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*-----------------------------------------
The .Section1 properites
------------------------------------------*/
.Section1 {
    background: var(--Section1_background-image);
    background-color: var(--Section1_background-color);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-bottom: 1px black solid;
    width: 100%;
    height: 30%;
    position: relative;
    top: 10%;
    overflow: auto;
}
/*------------------------------------------*/
.Section1Title {
    font-size: 2.5rem;
    font-weight: bolder;
    color: lightgray;
    text-shadow: 1px 1px 3px #000000;
    text-align: left; 
    padding-left: 1.3rem; 
  }
/*------------------------------------------*/
.Section1Title::first-letter {
    font-size: 130%;
}
/*------------------------------------------*/
.Section1Paragraph {
  margin: 10px 20px 0px 40px;
  font-size: 1rem;
  font-weight: 600;
}
/* Section-1 END ^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*-----------------------------------------
The .Section2 properites
------------------------------------------*/
.Section2 {
    background: var(--Section2_background-color);
    width: 100%;
    height: 60%;
    position: relative;
    color: var(--Section2-font-color);
    top:10%; /*<---ADD to adjust the top position*/
    overflow: auto;
  }
/*------------------------------------------*/
.Section2Title {
  font-size: 2.5rem;
  font-weight: 600;
  color: blue;
  text-shadow: 1px 1px 3px #000000;
  text-align: left; 
  padding-left: 1.6rem; 
}
/*------------------------------------------*/
.Section2Title::first-letter {
  font-size: 130%;
}
/*------------------------------------------*/
.Section2Paragraph {
    margin: 0px 20px 0px 65px;
    font-size: .9rem;
    font-weight: 600;
  }
/*------------------------------------------*/
.Section2Paragraph ul {
    list-style-type: none;
    margin: 5px 0px 5px 10px;
    font-size: .9rem;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
    text-decoration: none;
    border-bottom: 1px #333 dotted;
/*    column-rule: dotted 1px #333;*/

  }
/*------------------------------------------*/
.Section2Paragraph ul li:before { 
    font-family: var(--CalloutIconFontFamily);
    font-weight: 600;
    content: var(--CalloutIconCheck); /*checkbox*/ 
    margin-left: 0px; 
    margin-right: 0px;
    padding: 0px 0px 0px 10px; 
  } 
/*------------------------------------------*/  
  .Section2Paragraph a {
    color: black;
    font-size: .85rem;
    font-weight: 600;
    text-decoration: none;
    margin: 8px 0;
    padding: 2px;
}
/*------------------------------------------*/
  ul a:hover,
  ul a:active {
    color: var(--Footer_hover-color);
  }  
/* Section2 END ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*-----------------------------------------
The .Footer properites
------------------------------------------*/
.Footer {
    background: var(--Footer_background-color);
    width: 100%; 
    /*top: 10%;  /*Removed in place of the bottom property*/
    border-top: 1px solid black;
    bottom: 0;
    position: fixed;
    z-index: 99;
  } 
/*------------------------------------------*/
.FooterNavList {
    list-style: none;
    margin: 20px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*------------------------------------------*/
.FooterNavListItem a {
    color: black;
    font-weight: bold;
    font-size: var(--FooterListFontSize);
    text-decoration: none;
    margin: 8px 0;
    padding: 12px;
}
/*------------------------------------------*/
.FooterNavListItem a:hover,
.FooterNavListItem a:active {
  color: var(--Footer_hover-color);
}
/* Footer END ^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/* Responsive Code */  
/*The @media MIN-width query properties
***** EXTRA LARGE
=========================================*/
@media only screen and (min-width: 1200px) {

  /*@media (max-width: 1000px) {*/
    /*.Section1 {
      background-color: green;
    }*/
    .Section1Paragraph {
      font-size: 125%;
    } 
  }  

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*-----------------------------------------
The @media MAX-width query properties
***** IPAD
=========================================*/
@media only screen and (max-width: 860px) {

/*@media (max-width: 760px) {*/
  /*.Section1 {
    background-color: purple;
  }*/ 
  .HeaderNavList {
      display: none;
  }
  .HeaderNavBars {
      display: flex;
  }
  .HeaderLogo {
      font-size: 1rem;
      margin-left: 45px;
  }   
  .Section1Title {
    font-size: 2rem;
    padding: 5px 10px 0px 20px;
  }
  .Section1Paragraph {
    font-size: 105%;
  }
  .Section2Title {
    font-size: 2rem;
    text-shadow: 1px 1px 2px #000000;
    padding: 5px 10px 0px 22px;
  }
  .Section2Paragraph ul {
    font-size: 110%;
    margin: 5px 0px 10px 10px;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;  
  }
  .Section2Paragraph li {
    font-size: 90%;
  }
  .Section2Paragraph a {
    font-size: 90%;
    font-weight: 600;
    margin: 8px 0;
    padding: 2px;
  }
  .FooterNavListItem a {
    font-size: 95%;
  }
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/
/*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*/

/*-----------------------------------------
The @media MIN-width query properties
IPHONE *****
=========================================*/
@media only screen and (max-width: 420px) {
/*@media (min-width: 420px) {*/
/*  .Section1 {
    background-color: pink;
}*/
  .HeaderNavList {
    display: none;
}
.HeaderNavBars {
    display: flex;
}
  .HeaderLogo {
    font-size: 1rem;
    margin-left: 45px;
}
.Section1Title {
  font-size: 120%;
  text-align: center;
}
.Section1Paragraph {
  font-size: 85%;
}
.Section2 {
  height: 60%; 
}
.Section2Title {
  font-size: 120%;
  text-align: center;
  text-shadow: 1px 1px 1px #000000;
}
.Section2Paragraph {
  font-size: 0%;
  padding-left: 15px;
}
.Section2Paragraph ul {
  margin: 0px 0px 5px -10px;
  font-size: 90%;
  columns: 2;
  column-rule: none;
  border-bottom: none;
}
.Section2Paragraph li {
  font-size: 90%;
  margin: 0 0 0 -45px;
}
.Section2Paragraph a {
  font-size: 90%;
  font-weight: 600;
  margin: px 0;
  padding: 2px;      
}
.Footer {
  position: sticky;
  bottom: 0;
  margin-top: 30px;
  border-top: 0px solid var(--Footer_background-color);
  align-items: baseline;
}      
.FooterNavListItem a {
  font-size: 70%;
}
}

/* END BLOCK ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^*/


/* END CSS */