/* Basic Blocks Custom App */
@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre');

/*-----------------------------------------
:root selector for variables
-------------------------------------------*/
:root {
    --GlobalFontFamily: "Frank+Ruhl+Libre";
} 

body {
    margin: 0px;
}

.main {
    padding: 0px;
    font-size: 16px;
    font-family: var(--GlobalFontFamily);
    text-align: left;
}