body {
  padding-left: 11em;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: darkgoldenrod;
  background-color: black;
}
ul.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 2em;
  left: 1em;
  width: 9em;
}
h1 {
  font-family: Helvetica, Geneva, Arial,
  SunSans-Regular, sans-serif;
}
ul.navbar li {
  background: lightgray;
  margin: 0.5em 0;
  padding: 0.3em;
  border-right: 1em solid darkgoldenrod;
}
ul.navbar a {
  text-decoration: none;
}
a:link {
  color: darkred;
}
a:visited {
  color: black;
}
address {
  margin-top: 1em;
  padding-top: 1em;
  border-top: thin dotted;
}
